<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/foundation.min.css" rel="stylesheet">
    <link href="/css/animate.min.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/vegas.min.css" rel="stylesheet">
    <link href="/css/PORT044.min.css" rel="stylesheet">
    <link href="/css/FFLD055.min.css" rel="stylesheet">
</head>

<body>
    <div id="FFLD055">
        <div id="top" data-spy="scroll" data-offset="50" data-target=".navbar-collapse">
            <section id="home">
                <div class="overlay"></div>
                <div class="row">
                    <div class="medium-offset-1 medium-10 column wow fadeInUp" data-wow-delay="0.3s">
                        <h1 class="wow fadeInUp" data-wow-delay="0.6s">Hi! I’m Emma Watson!</h1>
                        <p class="wow fadeInUp" data-wow-delay="0.9s">I am a Lifestyle Photographer who loves hard and laughs hard</p>
                        <a href="#" class="smoothScroll btn btn-success btn-lg wow fadeInUp" data-wow-delay="1.2s">Know More</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div id="PORT044">
        <section id="portfolio">
            <div class="row">
                <ul class="portfolio-filter text-center">
                    <li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".branded">Branded</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".design">Design</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".folio">Folio</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".logos">Logos</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".mobile">Mobile</a></li>
                    <li><a class="btn btn-default" href="#" data-filter=".mockup">Mockup</a></li>
                </ul>
                <!--/#portfolio-filter-->
                <div class="portfolio-items">
                    <div class="medium-3 columns portfolio-item branded logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/1.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/1.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns portfolio-item branded folio">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/2.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/2.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns portfolio-item design logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/3.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/3.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns portfolio-item design logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/4.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/4.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns portfolio-item branded mobile">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/5.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/5.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns portfolio-item branded mockup">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/6.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/6.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns portfolio-item branded folio">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/7.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/7.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns portfolio-item design logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/8.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/8.jpg#" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns portfolio-item branded logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/9.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/9.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns portfolio-item branded mockup">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/10.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/10.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns portfolio-item design folio">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/11.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/11.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns portfolio-item branded mockup">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/12.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/12.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns portfolio-item design mobile">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/13.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/13.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns portfolio-item design logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/14.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/14.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns portfolio-item branded logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/15.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/15.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="medium-3 columns portfolio-item branded logos">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="/images/portfolio/16.jpg" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>
                                        <li><a href="/images/portfolio/16.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="banner">
        <div class="banner-w3lsinfo">
            <div class="container">
                <div class="row">
                    <div class="medium-4 columns header-w3left">
                        <img src="/images/img1.jpg" alt="" />
                        <div class="header-imgtext-w3ls">
                            <h1>Emma Watson</h1>
                            <div class="social-wthree-icons">
                                <ul>
                                    <li>
                                        <a href="#" class="fa fa-facebook icon icon-border facebook"> </a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-twitter icon icon-border twitter"> </a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-google-plus icon icon-border googleplus"> </a>
                                    </li>
                                    <li>
                                        <a href="#" class="fa fa-dribbble icon icon-border dribbble"> </a>
                                    </li>
                                </ul>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                    </div>
                    <div class="medium-8 columns header-w3right">
                        <h3 class="agileits-title">ABOUT ME</h3>
                        <div class="profile-agileinfo">
                            <p>Here are a fews things about me. I love photography and try to learn something new everyday. I believe in the power of visuals. It's a language we use to see into each other's lives, one frame at a time.  The images I produce are done with quality in mind as a benchmark. I am a  Lifestyle Photographer who loves hard and laughs hard.. Most days I’m shooting in sunny San Diego, California, but I’ve also been blessed to capture love in Illinois, Iowa, Florida, Mississippi, Michigan, Rome, Mexico + Colombia.</p>
                            <div class="medium-4 columns profile-grids">
                                <i class="fa fa-envelope"></i>
                                <h5>Contact Me</h5>
                                <ul class="address">
                                    <li>
                                        <b>PHONE</b> : 666-777-888
                                    </li>
                                    <li>
                                        <b>ADDRESS</b> : 248, 6th Ave, Down Street, NYC 99999
                                    </li>
                                </ul>
                            </div>
                            <div class="medium-4 columns profile-grids">
                                <i class="fa fa-share-alt"></i>
                                <h5>Comments</h5>
                                <ul class="address">
                                    <li>
                                        <b>E-MAIL</b> : <a href="mailto:emma@clickingfingers.com"> emma@clickingfingers.com</a>
                                    </li>
                                    <li>
                                        <b>WEBSITE</b> : <a href="#">www.clickingfingers.com</a>
                                    </li>
                                    <li>
                                        <b>TWITTER</b> : <a href="#">emma-watson@twitter</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="services-wrapper">
        <div id="services">
            <div class="inner-wrapper">
                <div class="container">
                    <h2>Services</span></h2>
                    <div class="row">
                        <div class="medium-4 columns">
                            <div class="service-box service-fold">
                                <i class="fa fa-diamond"></i>
                                <h3>Web Developemnt</h3>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text.
                                </p>
                            </div>
                        </div>
                        <div class="medium-4 columns">
                            <div class="service-box service-fold">
                                <i class="fa fa-lightbulb"></i>
                                <h3>Creative Idea</h3>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text.
                                </p>
                            </div>
                        </div>
                        <div class="medium-4 columns">
                            <div class="service-box service-fold">
                                <i class="fa fa-beaker"></i>
                                <h3>Pro Solution</h3>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text.
                                </p>
                            </div>
                        </div>
                        <div class="medium-4 columns">
                            <div class="service-box service-fold">
                                <i class="fa fa-pencil"></i>
                                <h3>Web Design</h3>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text.
                                </p>
                            </div>
                        </div>
                        <div class="medium-4 columns">
                            <div class="service-box service-fold">
                                <i class="fa fa-paper-plane"></i>
                                <h3>UI/UX Design</h3>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text.
                                </p>
                            </div>
                        </div>
                        <div class="medium-4 columns">
                            <div class="service-box service-fold">
                                <i class="fa fa-star"></i>
                                <h3>PSD to HTML</h3>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/vegas.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/js/lightbox.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script src="/js/custom.js"></script>
</body>

</html>
